<div class="wrapper">
    <div class="main__img">
        <div class="info__container infoContainer"  id={{outputValue.num}}>
            {{!-- <div class="infoContainer" id={{outputValue.num}}> --}}
                <h2 class="info__title">{{outputValue.title}}</h2>
                <p class="info__p">{{outputValue.sub}}</p>
                <p class="info__p">{{outputValue.description}}</p>
                <p class="info__p">Применение: {{outputValue.using}}</p>
                <img class="info_img" src="{{outputValue.img}}" alt="photo">

                <button class="main__btn" id="mapBtn">пункты переработки</button>
                   <button class="main__btn"> <a href="/">попробовать снова</a> </button>

                <div id="container"></div>
            {{!-- </div> --}}
        </div>
    </div>
</div>